<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995541774463-9tn3tah33nglvdeg9cii2o99uhbjjqpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995541774463-9tn3tah33nglvdeg9cii2o99uhbjjqpl</string>
	<key>API_KEY</key>
	<string>AIzaSyB1CnJwpL6HjVGtFFDmhCorjNAQ1BBr1sE</string>
	<key>GCM_SENDER_ID</key>
	<string>995541774463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cooperos.vecinapp2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vecinapp-2</string>
	<key>STORAGE_BUCKET</key>
	<string>vecinapp-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995541774463:ios:8c6a3674e5d2b397568f4a</string>
</dict>
</plist>